<div class="card card-primary">

    <div class="card-body">
        <div class="form-group">
            <form [formGroup]="formGroup">
                <div class="row">

                    <div class="col-md-6 col-12">
                        <label for="fecha_inicio">Fecha Inicio</label>
                        <input type="date" class="form-control" formControlName="fecha_inicio"
                            placeholder="Fecha Inicio">
                    </div>
                    <div class="col-md-6 col-12">
                        <label for="fecha_final">Fecha Final</label>
                        <input type="date" class="form-control" formControlName="fecha_final">
                    </div>
                    <div class="col-md-12 col-12 d-flex align-items-end">
                        <button class="btn btn-primary btn-lg mr-3" (click)="reporte()">Buscar</button>
                        <button class="btn btn-success btn-lg"><i class="fa-solid fa-file-excel"></i> Excel</button>
                    </div>


                </div>
            </form>
        </div>
        <table class="table table-dark table-striped table-hover">
            <thead class="thead-primary ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Año</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody class="bg-dark">
                <tr *ngFor="let item of datos; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{item.mes}}</td>
                    <td>{{item.anho}}</td>
                    <td>{{item.total}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>