<!-- app.component.html -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Navbar content -->

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
   
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      
    </ul>
  </nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar content -->
    <a href="index3.html" class="brand-link">
      <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Adm Datos</span>
    </a>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">PANEL PRINCIPAL</li>
        <li class="nav-item">
          <a href="/home" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/productos" class="nav-link">
            <i class="nav-icon fas fa-box"></i>
            <p>
              Productos
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/categorias" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Categorias
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reportes"class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Reportes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/ventas"class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Ventas
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content -->
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="main-footer">
    <!-- Footer content -->
  </footer>
</div>