.modal {
  z-index: 1057 !important;
  /* o cualquier otro número mayor que el z-index del cuadro negro */
}

ngb-modal-backdrop {
  z-index: 1055 !important;
}

.grid[_ngcontent-ng-c3283961843] .cell.header[_ngcontent-ng-c3283961843] {
  background-color: #343a40 !important;
  border-color: var(--kt-head-b, #dee2e6) !important;
  color: white !important;
}

#filtros[_ngcontent-ng-c3283961843] .btns[_ngcontent-ng-c3283961843] .btn[_ngcontent-ng-c3283961843] {
  border-radius: 10px !important;
  background-color: #343a40 !important;
  border-color: #000000 !important;
}
.texto{
  color: #dee2e6;

}
.fondo{
  background-color: #2c2c2c !important;
  color: #dee2e6;
}
:root {
/*   rgb(16 12 42) */
  --kt-cl:white;
  --kt-hover-bg: #343a40;
  --kuv-table-bg-body-1: #343a40;
  --kuv-table-bg-head: #3f6791;
  --kuv-table-cl-head: white;
  --kuv-table-bg-body-2: #2c3136;
  --kuv-table-bg-foot:white;
  --kuv-table-cl-body-1:white;
  --kuv-table-cl-body-2:white;
  --kuv-table-bg-foot: #2c3136;
  --kt-body-bg:#343a40
  --kt-body-b: #343a40
  --kt-hover-bg:#343a40
  --kt-body-cl:red
  
  
}